# Maven
target/
pom.xml.tag
pom.xml.releaseBackup

# IDE
.idea/
*.iml
.classpath
.project
.settings/

# System
*.log
*.tmp

#NeoVim
scratch
server exited unexpectedly
rest_nvim_result#Response

# Application properties
src/main/resources/application.properties

# Uploads folder to store images in FS
uploads/
